In [33]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv1D, MaxPooling1D, Flatten
from tensorflow.keras.optimizers import Adam

In [34]:
df = pd.read_csv("^NSEI.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-12-29,8214.700195,8279.150391,8214.700195,8246.299805,8246.299805,82100.0
1,2014-12-30,8260.299805,8268.250000,8220.549805,8248.250000,8248.250000,77700.0
2,2014-12-31,8243.900391,8291.000000,8243.750000,8282.700195,8282.700195,84500.0
3,2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-02,8288.700195,8410.599609,8288.700195,8395.450195,8395.450195,101900.0
...,...,...,...,...,...,...,...
1372,2020-07-24,11149.950195,11225.400391,11090.299805,11194.150391,11194.150391,678900.0
1373,2020-07-27,11225.000000,11225.000000,11087.849609,11131.799805,11131.799805,588100.0
1374,2020-07-28,11154.099609,11317.750000,11151.400391,11300.549805,11300.549805,683900.0
1375,2020-07-29,11276.900391,11341.400391,11149.750000,11202.849609,11202.849609,600700.0
1376,2020-07-30,11254.299805,11299.950195,11084.950195,11102.150391,11102.150391,677800.0

In [35]:
df = df.dropna()
df
#df = df.drop(['Adj Close'], axis = 1)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-12-29,8214.700195,8279.150391,8214.700195,8246.299805,8246.299805,82100.0
1,2014-12-30,8260.299805,8268.250000,8220.549805,8248.250000,8248.250000,77700.0
2,2014-12-31,8243.900391,8291.000000,8243.750000,8282.700195,8282.700195,84500.0
4,2015-01-02,8288.700195,8410.599609,8288.700195,8395.450195,8395.450195,101900.0
5,2015-01-05,8407.950195,8445.599609,8363.900391,8378.400391,8378.400391,118200.0
...,...,...,...,...,...,...,...
1372,2020-07-24,11149.950195,11225.400391,11090.299805,11194.150391,11194.150391,678900.0
1373,2020-07-27,11225.000000,11225.000000,11087.849609,11131.799805,11131.799805,588100.0
1374,2020-07-28,11154.099609,11317.750000,11151.400391,11300.549805,11300.549805,683900.0
1375,2020-07-29,11276.900391,11341.400391,11149.750000,11202.849609,11202.849609,600700.0
1376,2020-07-30,11254.299805,11299.950195,11084.950195,11102.150391,11102.150391,677800.0

In [36]:
df['Date'] = pd.to_datetime(df['Date'])

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_13872\2394721818.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'])

In [37]:
df.set_index('Date', inplace=True)

In [38]:
df = df.astype(float)

In [39]:
df_seq = df.asfreq('B')

In [40]:
train_data = df_seq.loc[:'2018-12-28']
test_data = df_seq.loc['2018-12-31':'2020-07-31']
test_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-31,10913.200195,10923.549805,10853.200195,10862.549805,10862.549805,180900.0
2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-02,10868.849609,10895.349609,10735.049805,10792.500000,10792.500000,309700.0
2019-01-03,10796.799805,10814.049805,10661.250000,10672.250000,10672.250000,286200.0
2019-01-04,10699.700195,10741.049805,10628.650391,10727.349609,10727.349609,296600.0
...,...,...,...,...,...,...
2020-07-24,11149.950195,11225.400391,11090.299805,11194.150391,11194.150391,678900.0
2020-07-27,11225.000000,11225.000000,11087.849609,11131.799805,11131.799805,588100.0
2020-07-28,11154.099609,11317.750000,11151.400391,11300.549805,11300.549805,683900.0
2020-07-29,11276.900391,11341.400391,11149.750000,11202.849609,11202.849609,600700.0
2020-07-30,11254.299805,11299.950195,11084.950195,11102.150391,11102.150391,677800.0

In [41]:
scaler = MinMaxScaler()
train_data_scaled = scaler.fit_transform(train_data)
test_data_scaled = scaler.transform(test_data)

In [42]:
X_train = []
y_train = []
for i in range(5, len(train_data_scaled)):
    X_train.append(train_data_scaled[i-5:i, 0])
    y_train.append(train_data_scaled[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)

In [43]:
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

In [44]:
model = Sequential()
model.add(Conv1D(filters=16, kernel_size=3, activation='relu', input_shape=(5, 1)))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(5, activation='relu'))
model.add(Dense(1, activation='linear'))

In [45]:
optimizer = Adam(learning_rate=0.001)
model.compile(optimizer=optimizer, loss='mse')

In [46]:
epochs = 20
batch_size = 4
for i in range(epochs):
    for j in range(0, len(X_train) - batch_size, batch_size):
        x_train = X_train[j:j+batch_size, :]
        y_train_batch = y_train[j:j+batch_size]
        model.train_on_batch(x_train, y_train_batch)

In [47]:
X_test = []
y_test = []
for i in range(5, len(test_data_scaled)):
    X_test.append(test_data_scaled[i-5:i, 0])
    y_test.append(test_data_scaled[i, 0])
X_test, y_test = np.array(X_test), np.array(y_test)

In [48]:
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))

In [54]:
predictions = model.predict(X_test)
predictions = scaler.inverse_transform(predictions)

In [57]:
rmse = np.sqrt(np.mean((predictions - test_data[5:, 0])**2))
print('Mean RMSE:', rmse)

Mean RMSE: 374.48